.hero-body{
    margin-top: 10%;
     text-align: center;
 }
 .main-image{
     width:400px;
 }
 .conpone-head{
     font-size: 4rem;
     color: #ff0000;
     margin: 0;
     /* top: -1; */
     /* z-index:1; */
 }
 .conpone-vedio{
     /* background: white; */
     border-radius: 50%;
     width: 6rem;
     margin-top: 1rem;
 
 }
 .img-head-container{
     display: inline-block;
 
 
 }

 
.slider{
    position: relative;
    width:75%;
    height: 500px;
    margin: 30px auto 0;
}
.slider ul{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.slider ul li{
    width:12px;
    height: 12px;
    border-radius: 50%;
    background-color: #cccccc;
    list-style: none;
    margin:0 10px;
    display: inline-block;
    cursor: pointer;
}
.slider ul li.active{
    background-color: #b9f;
    opacity:0.4;
}
.slider-img div{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.slider-img div.active{
    opacity: 1;
}
.slider-img img{
   width: 100%;
    height: 100%;
}
.slider p{
    position: absolute;
    z-index: 2;
    top: 50%;
    color: #cccccc;
    padding: 20px;
    cursor: pointer;
}
.slider .next{
    right: 0;
}
/* .item1{background-color:red}
.item2{background-color:green}
.item3{background-color:purple}
.item4{background-color:yellow}
 */