.compthree-overview-head{
    font-size:3rem;
    color:#ff0000;
    font-weight: 700;
}
.compthree-overview-para{
    margin: 2rem 0;
    font-size: 1.2rem;

}

/* .compthree-overview-image{
    margin: 2rem 1rem;
    width: 90%;
} */